@font-face {
    font-family: "Lora";
    src: url("../src/Lora-VariableFont_wght.ttf") format("truetype"),
    url("../src/Lora-Italic-VariableFont_wght.ttf") format("truetype");

}
@font-face {
    font-family: "Montserrat";
    src: url("../src/Montserrat-VariableFont_wght.ttf") format("truetype");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: white;
}
body, html{
    width: 100%;
    height: 100%;
}
.hero-bg{
    transition: background-size 0.3s ease;
    display: flex;
    height: 100vh;
    background: url("./countryside.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media only screen and (max-width: 1100px) {
    //for when the device is minimized
    //Unfortunately, some of the animations won't play properly
    //This is due to the background size having to be manipulated
    .hero-bg{
        background-size: cover !important;
    }
}

.about{
    background:none;
    background-color: #000;
}
.hero-text{
    overflow-y: auto;
}
.navbar{
    nav{
        color: white;
        font-family: "Lora";
    }
    li{
        display: inline-block;
    }
}
.navbar{
    a{
        position: relative;
        font-size: 2.2rem;
        width: 2.2rem;
    }
    li{
        &:nth-child(2), &:nth-child(3){
            a::before{
                content:(' /');
            }
        }
    }
}
.navbar{
    a{
        &::after{
            content: '';
            transition: 0.5s ease-out;
            position: absolute;
            display: block;
            bottom: 0;
            left: 0;
            right: 0;
            background: white;
            transform: scaleX(0);
            border: solid white 1px;
            transform-origin: left;
        }  
        &:hover::after{
            transform: scaleX(1);
        }
        &.active{
            &::after{
                transform: scaleX(1);
            }
        }
    }

    li{
        &:nth-child(2) , &:nth-child(3){
            a::after{
                left: 11%;
            }
        }
    }
}

.hero-text{
    transition: background-color 0.2s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}
.head{
    top: 10px;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head{
    margin: 15px 25px;
}
.logo{
    font-family: "Montserrat";
    font-size: 3rem;
    color: white;
    &:hover{
        opacity: 0.7;
    }
}
.footer{
    position: relative;
    top: 55%;
    font-family: "Lora";
    color: white;
    padding-left: 25px;
}
.greet{
    font-size: 3.5rem;
    margin-bottom: 10px;
}
#reservation-button{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    outline: 1.5px #fff solid;
    font-family: "Lora";
    color: white;
    width: 240px;
    height: 55px;
    margin-left: 5px;
    transition: 0.3s ease-in-out;
    
    h1{
        font-size: 1.9rem;
        font-weight: 400;
        margin-left: 10px;
        margin-right: 8px;
    }
    svg{
        display: block;
        margin-top: 8px;
        fill: white;
    }
}
#reservation-button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    svg{
        fill:black;
    }
}
.body{
    color: white;
    padding: 25px;
    font-family: "Montserrat";
    h1,h2{
        font-weight: 300;
    }
}
h1{
    font-size: 2.5rem;
}
p{
    font-size: 2.5rem;
    width: 92%;
}
.menu{
    transform: 0.3s ease;
    height: 80%;
    font-family: "Lora";
    color: white;
}
.menu-info{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10%;
}
.menu-info h1{
    font-weight: 400;
    font-size: 70px;
    position: relative;
    transition: all 0.5s ease-out;
    &::after{
        content: '';
        transition: transform 0.5s ease-out;
        position: absolute;
        display: block;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        transform: scaleX(0);
        // Seems to be a fix for chrome browsers
        border: 1px solid white;
        transform-origin: left;
    }  
    &.extend{
        &::after{
            
            transform: scaleX(1);
        }
    }
}
#arrow-left, #arrow-right{
    display: block;
    position: relative;
    transition: all 0.3s ease;
    &:hover{
        cursor: pointer;
        opacity: 0.7;
        transform: translateX(5px);
    }
}
#arrow-left{
   position: relative;
   rotate: 180deg;
}
#arrow-right{
    margin-right: 5px;
}
.test{
    background-color: #000;
}
.menu-items{
    height: 110vh;
    width: 100%;
    background-color: #000;
    font-family: "Lora";
    padding: 125px 25px;
    font-size: 2rem;
}
@media only screen and (max-width: 1100px) {
     .menu-items{
        height: 125vh !important;
     }
     
}
.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
}
#arrow-bottom{
    position: absolute;
    bottom: 0;
    rotate: 90deg;
    animation: 1.5s linear 0s infinite alternate hover;
}
@keyframes hover {
    from{
        transform: translateX(5px);
    }
    to{
        transform: translateX(0);
    }
}
.menu-header{
    display: flex;
    justify-content: space-between;
    
}
.menu-header{
    border-bottom: solid white 3px;
}
.menu-item{
    border-bottom: solid white 1px;
    header{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}
.description{
    font-size: 1.25rem;
    color: rgb(215, 204, 204);
    padding-left: 3px;
}
.contact-mode{
    background: #000;
}
.contact{
    padding: 33px 23px;
    color: #fff;
    font-family: "montserrat";
    font-size: 1rem;
    :nth-child(2), :nth-child(n+4){
        padding-top: 20px;
    }
}